@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    font-family: "poppins", sans-serif;
    color: #2D2234;
    text-decoration: none; 
    display: flex;
    align-items: center;
    margin: 5px;
}
header{ 
    display: flex;     
    background-color: #E4E1E1;
    background-size: contain;
}
.cabecera{
    margin-left: 100px;
    padding: 7px;
    display: flex;
}
.regresar{
    display: flex;
    justify-content: end;
    margin-right: 100px;
}
.volver{
    align-content: flex-end;
    left: 100px;
}
main{
    display: flex;
    flex-flow: column;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    padding: 20px;
    flex-wrap: nowrap;
}
.categorias{
    font-family: "poppins", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.iconmenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 100px;
}
.portada{
    height: 400px;
    width: 100%;
    background-image: url(../img/griferias.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "poppins", sans-serif;
}
.opciones{
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    padding: 5px;
    background-color: #2D2234;
    color: white;
}
.clasif{
    display: flex;
    font-family: "poppins", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center;
    align-items: flex-end;
    margin: 30px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}
.hogarimg{
    background-image: url(/img/hogar.png);
    background-size: cover;
}
.bañoimg{
    background-image: url(/img/baño.png);
    background-size:cover;
}
.instimg{
    background-image: url(/img/instalaciones.png);
    background-size:cover;
}
.boton{
    background-color: rgba(255, 255, 0, 0.842);
    height: 14%;
    margin: 6%;
}
.griferia{
    font-family: "poppins", sans-serif;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 300px
}
.classh2{
    background-size: contain;
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    font-size: 40px;   
    text-align: center;
}
.precios{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.negrita{
    font-weight: bold;
}
.tachado{
    font-weight: normal;
    text-decoration: line-through;
    font-size: 14px;
}

.descr{
    font-size: 16px;
    font-size: 15px;
}
.imglav{
    height: 250px;
}
.precio{
    display: flex;
    flex-direction: row;
}
.botonesp{
    display: flex;
    flex-direction: row;    
}
.botonp{
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90px;
    padding: 1%;
    border-radius: 10px;
    margin: 3px;
}
.botprod1{
    background-color: yellow;
    border:none;
    box-shadow: none;
}
.botprod2{
    background-color: white;
    border: 1.5px solid black;
    box-shadow:none;
}
.bolsita{
    height: 20px;
}
.banner1{
    height: 300px;
    background-image: url(/img/t/BN1.png);
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
}